html, body {
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

body{
    font-family: 'Yantramanav', sans-serif;
}

.panel {
    background-color: rgb(235, 235, 235);
}

.social-media {
    display: flex;
    justify-content: space-evenly;
}

.panel {
    display: flex;
    padding-top: 10px;
    padding-bottom: 5px;
    justify-content: space-evenly;
}

.twitter {
    padding-right: 30px;
}

.instagram {
    padding-right: 30px;
}

.facebook {
    padding-right: 30px;
}

.pinterest {
    padding-right: 30px;
}

.row {
    padding-top: 30px;
    justify-content: center;
}

.col-md-3 {
    display: flex;
    padding: 30px;
}

.title {
    text-align: center;
}

.titletext {
    font-size: 25px;
    font-weight: bold;
}

.para {
    margin-top: 20px;
}

.col-md-7 {
    padding-top: 70px;
    padding-left: 250px;
}

.col-md-5 {
    padding-left: 200px;
}

.display-3 {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 30px;
}